<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body>
    <% include partials/navbar.ejs %>

    <h3>List of courses</h3>
    <ul>
        <% for (const course of courses) { %>
            <li>
                <%= course %>
             </li>
        <% } %>
    </ul>

    



    <h3>Upload New Picture</h3>

    <form action="/manageAttendance" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="coursename">Course Name</label>
            <input type="text" class="form-control" name="name" id="coursename">
        </div>
        <div class="form-group">
            <label for="picturelabel">Label</label>
            <p>If the label already exists, the faces found in this picture will be added to the ones already found under that
                label (everything else is kept unchanged, even the date)</p>
            <input type="text" class="form-control" name="label" id="picturelabel">
        </div>
        <div class="form-group">
            <label for="picture">Students Picture</label>
            <input type="file" class="form-control-file" id="picture" name="picture" accept="application/x-zip-compressed,image/*">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    <% include partials/bootstrap.ejs %>
</body>

</html>