<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body>  

    <% include partials/navbar.ejs %>
    
    
    <div class="contenido_ggral">
  
        <div class="encabezado_asis">
            <div class="ico_asis_cursos">
            </div>
            <div class="tit_asis_ppal">
                <span class="titulo_content">Cursos: </span><br>
            </div>
        </div>        
    
        <div>     

            <div class="caja_central">

                <span class="titulo_caja">Mis cursos:</span><br><br>

                <%if (courses.length <= 0) { %>

                    <span>No tienes ningún curso</span>

                <% } else { %>

                    <table>
                        <tr>
                            <th>Curso</th>
                            <th>Estudiantes</th>
                        </tr>
                        <% for (const course of courses) { %>
                            <tr>
                                <td><%= course.name %></td>
                                <td>
                                    <ul>
                                        <% for (const student of course.students) { %>
                                            <li> <%= student %> </li>                            
                                        <% } %>
                                    </ul>
                                </td>
                            </tr>
                        <% } %>
                    </table>   

                <% } %>
               
            </div>  

            <br><br> 

            <div class="caja_central">
                
                <span class="titulo_caja">Añadir curso:</span><br><br>

                <form action="/createCourse" method="POST" enctype="application/x-www-form-urlencoded">
                    <span>Nombre del curso:</span><br>
                    <input class="campo_captura" type="text" name="name" id="coursename" maxlength="25"><br>
                    
                    <span>Lista de estudiantes:</span><br>
                    <textarea class="text_area_asis" name="students" id="students" cols="30" rows="5"></textarea>
                    <br>
                    <br>
                    <div class="boton_enviar">         
                    <input class="boton_asist" type="submit" value="Guardar">
                    </div>                
                </form>     
        
            </div>  

            <br><br> 

            <div class="caja_central">
                
                <span class="titulo_caja">Eliminar curso:</span><br><br>

                <form action="/deleteCourse" method="POST" enctype="application/x-www-form-urlencoded">

                    <span>Nombre del curso:</span><br>
                    <div class="dropdown">
                        <select name="name" id="coursename">
                            <% for (const course of courses) { %>
                                <option value="<%= course.name %>">
                                    <%= course.name %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    
                    <br>
                    <div class="boton_enviar">         
                    <input class="boton_asist" type="submit" value="Eliminar">
                    </div>
                
                </form>     
        
            </div>  

            <br><br><br><br>   

            <div></div>
        </div>

    </div> 

    <% include partials/bootstrap.ejs %>
	
    <% include partials/footer.ejs %>
    
</body>

</html>