@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('RobotoCondensed-Bold.eot');
	src: url('RobotoCondensed-Bold.eot') format('embedded-opentype'), url('RobotoCondensed-Bold.woff2') format('woff2'), url('RobotoCondensed-Bold.woff') format('woff'), url('RobotoCondensed-Bold.ttf') format('truetype'), url('RobotoCondensed-Bold.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('RobotoCondensed-Regular.eot');
	src: url('RobotoCondensed-Regular.eot') format('embedded-opentype'), url('RobotoCondensed-Regular.woff2') format('woff2'), url('RobotoCondensed-Regular.woff') format('woff'), url('RobotoCondensed-Regular.ttf') format('truetype'), url('RobotoCondensed-Regular.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Light';
	src: url('RobotoCondensed-Light.eot');
	src: url('RobotoCondensed-Light.eot') format('embedded-opentype'), url('RobotoCondensed-Light.woff2') format('woff2'), url('RobotoCondensed-Light.woff') format('woff'), url('RobotoCondensed-Light.ttf') format('truetype'), url('RobotoCondensed-Light.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Italic.ttf';
	src: url('RobotoCondensed-Italic.eot');
	src: url('RobotoCondensed-Italic.eot') format('embedded-opentype'), url('RobotoCondensed-Italic.woff2') format('woff2'), url('RobotoCondensed-Italic.woff') format('woff'), url('RobotoCondensed-Italic.ttf') format('truetype'), url('RobotoCondensed-Italic.svg#OpenSans') format('svg');
}

body{
	margin: 0;
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 15px;
	background-color: #F9F8F3;
	color: #4E4E4E;
}

.nombre_aplica{
	background-color: #777777;
	background-image: url(img/fond_asitencia.png)!important;
	background-repeat: repeat;
	width: 960px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-position: center center;
	overflow: hidden;
	margin: auto;
	}

.titulo_asist{
	text-align: center;
	text-decoration: none;
	background-image: url(img/titulo.png) !important;
	background-repeat: no-repeat;
	background-position: center center;
	height: 65px;
	width: 493px;
	overflow: hidden;
	margin: auto;
	}

.bg-dark {
    background-color: #55CAAA !important;
	margin: auto;
	height: 45px;
	width: 960px;
}

.nav-link{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 16px;
	color: #FFF !important;
	text-decoration: none;
    background-color: #55CAAA !important;
	padding-left: 5px !important;
	}

.nav-link:hover{
	color: #FFFFB3 !important;
	background-color: #55CAAA !important;
	}

.espacio{
	background-color: #FFF;
	margin: auto;
	height: 30px;
	width: 960px;
	overflow: hidden;
	}

.contenido_ggenal{
	background-color: #FFF;
	margin: auto;
	width: 960px;
	overflow: hidden;
	}

.fin_pagina{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 14px;
	color: #FFF !important;
	text-decoration: none;
	background-color: #777777 !important;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 960px;
}

.contenido_ggral{
	background-color: #FFF;
	width: 960px;
	overflow: hidden;
	margin: auto;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	clear: both;
	}

.titulo_content{
	font-size: 40px;
	color: #4E4E4E;
	text-decoration: none;
	text-align: left;
	}

.subtitulo{
	font-size: 15px;
	color: #4E4E4E;
	text-decoration: none;
	text-align: left;
	}

.boton_asist{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	background-color: #55CAAA;
	text-align: center;
	height: 35px;
	padding-top: 3px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
	border: 1px solid #55CAAA;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	text-transform: lowercase;
	letter-spacing: 3px;
	}

.boton_enviar{
	text-align: center;
	margin: auto;
	width: 100%;
	}

.caja_central{
	background-color: #F9F8F3;
	margin: auto;
	width: 60%;
	border: 1px solid #EAE7D5;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
	}

.campo_captura{
	padding: 5px;
	height: 37px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #EAE7D5;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
	}

.text_area_asis{
	padding: 5px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #EAE7D5;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
	}

.encabezado_asis{
	width: 90%;
	overflow: hidden;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	}

.ico_asis_estudiante{
	background-image: url(img/estudiante.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	width: 60px;
	height: 55px;
	}

.tit_asis_ppal{
	float: left;
	}

.ico_asis_perfil{
	background-image: url(img/perfil.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 55px;
	width: 60px;
	}


.ico_asis_asistencia{
	background-image: url(img/asistencia.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 55px;
	width: 60px;
	}

.ico_asis_cursos{
	background-image: url(img/cursos.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 55px;
	width: 60px;
	}

.ico_asis_buscar{
	background-image: url(img/buscador.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 55px;
	width: 60px;
	}

.grande{
	font-family: 'RobotoCondensed-light', sans-serif;
	color: #777777;
	}

.radio_botton_1{
	float: left;
	width: 250px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EAE7D5;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	}

.radio_botton_2{
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	}

.caja_central_buscar{
	background-color: #F9F8F3;
	margin: auto;
	width: 90%;
	border: 1px solid #EAE7D5;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
	overflow: hidden;
	}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
	width: 50%;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
}





/* ***************************************
TODO ESTO DEBE COPIARSE PARA RESPONSIVE
****************************************** */


.titulo_caja{
	font-weight: bold;
}

/* En base a estilo .campo_captura */
.select_atta {
	height: 37px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
}

.img_perfil {
	margin: auto;
	width: 20%;
	padding-bottom: 40px;
}

.img_perfil img {
	width: 100%;
    height: auto;
}

.explicacion_pequeña {
	font-size: 12px;
	color: rgb(134, 134, 134);
}

.dropdown {
	margin-top: 10px;
	margin-bottom: 15px;
}

/* basado en .caja_central */
.caja_central_registros{
	background-color: #F9F8F3;
	margin: auto;
	width: 90%;
	border: 1px solid #EAE7D5;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
	overflow: auto;
	}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) {background-color: #e6e6e6;}

th, td {
    padding: 10px;
	vertical-align: middle;
}

/* en base a fin_contenido */
.alert{
	text-align: center;
	margin: auto;
}

/* HASTA ACÁ SE COPIA */






@media(max-width:767px){

body{
	margin: 0;
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 15px;
	background-color: #F9F8F3;
	color: #4E4E4E;
}

.nombre_aplica{
	background-color: #777777;
	background-image: url(img/fond_asitencia.png)!important;
	background-repeat: repeat;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: center center;
	overflow: hidden;
	margin: auto;
	}

.titulo_asist{
	text-align: center;
	text-decoration: none;
	background-image: url(img/titulo_mov.png) !important;
	background-repeat: no-repeat;
	background-position: center center;
	height: 90px;
	width: 100%;
	overflow: hidden;
	margin: auto;
	}

.bg-dark {
    background-color: #55CAAA !important;
	margin: auto;
	height: 45px;
	width: 100%;
}

.nav-link{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 16px;
	color: #FFF !important;
	text-decoration: none;
    background-color: #55CAAA !important;
	padding-left: 5px !important;
	}

.nav-link:hover{
	color: #FFFFB3 !important;
	background-color: #55CAAA !important;
	}

.espacio{
	background-color: #FFF;
	margin: auto;
	height: none;
	width: 100%;
	overflow: hidden;
	}

.contenido_ggenal{
	background-color: #FFF;
	margin: auto;
	width: 100%;
	overflow: hidden;
	}

.fin_pagina{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 14px;
	color: #FFF !important;
	text-decoration: none;
	background-color: #777777 !important;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	width: 100%;
}

.contenido_ggral{
	background-color: #FFF;
	width: 100%;
	overflow: hidden;
	margin: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	clear: both;
	}

.titulo_content{
	font-size: 30px;
	color: #4E4E4E;
	text-decoration: none;
	text-align: left;
	}

.subtitulo{
	font-size: 15px;
	color: #4E4E4E;
	text-decoration: none;
	text-align: left;
	}

.boton_asist{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	background-color: #55CAAA;
	text-align: center;
	height: 35px;
	padding-top: 3px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
	border: 1px solid #55CAAA;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	text-transform: lowercase;
	letter-spacing: 3px;
	}

.boton_enviar{
	text-align: center;
	margin: auto;
	width: 100%;
	}

.caja_central{
	background-color: #F9F8F3;
	margin: auto;
	width: 90%;
	border: 1px solid #EAE7D5;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	}


.campo_captura{
	padding: 5px;
	height: 37px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #EAE7D5;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
	}

.text_area_asis{
	padding: 5px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #EAE7D5;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
	}

.encabezado_asis{
	width: 100%;
	overflow: hidden;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	}

.ico_asis_estudiante{
	background-image: url(img/estudiante_mov.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 28px;
	width: 35px;
	margin-top: 10px;
	}

.tit_asis_ppal{
	float: none;
	width: 100%;
	margin: auto;
	}

.ico_asis_perfil{
	background-image: url(img/perfil_mov.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 28px;
	width: 35px;
	margin-top: 10px;
	}


.ico_asis_asistencia{
	background-image: url(img/asistencia_mov.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 28px;
	width: 35px;
	margin-top: 10px;
	}

.ico_asis_cursos{
	background-image: url(img/cursos_mov.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 28px;
	width: 35px;
	margin-top: 10px;
	}

.ico_asis_buscar{
	background-image: url(img/buscador_mov.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	height: 28px;
	width: 35px;
	margin-top: 10px;
	}

.grande{
	font-family: 'RobotoCondensed-light', sans-serif;
	color: #777777;
	}

.radio_botton_1{
	float: left;
	width: 100%;
	border-right-width: none;
	border-right-style: none;
	border-right-color: none;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAE7D5;
	}

.radio_botton_2{
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-top: 15px;
	}

.caja_central_buscar{
	background-color: #F9F8F3;
	margin: auto;
	width: 100%;
	border: 1px solid #EAE7D5;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
	overflow: hidden;
	}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
	width: 90%;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
}

}