<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body>
    <% include partials/navbar.ejs %>

    <!-- Add the homepage here -->

    <% include partials/bootstrap.ejs %>

    <% include partials/footer.ejs %>
</body>

</html>