<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body>
    <% include partials/navbar.ejs %>

    <div class="contenido_ggral">

        <div>          
            <div class="caja_central">   
                <br>     
                <div class="titulo_caja_home">
                    <span class="titulo_caja" >Bienvenido a Asistencia Automática</span><br><br>       
                </div>
                <div class="contenido_caja_home">
                    <p> 
                        Asistencia Automática, como su nombre lo indica, es una aplicación web que te permite 
                        tomar la asistencia de tus estudiantes automáticamente. 
                    </p>
                    <p> 
                        Antes de tomar la asistencia tienes que crear tu grupo con los respectivos estudiantes,
                        quienes deben tener una foto de su cara dentro de su perfil.
                    </p>
                    <p> 
                        Después, lo único que tienes que hacer es subir la foto (o fotos) de la clase. 
                        Nosotros nos encargaremos del resto.
                    </p>
                </div>
            </div>    

            <br><br><br><br>            
            <div></div>
        </div>

    </div>

    <% include partials/bootstrap.ejs %>

    <% include partials/footer.ejs %>
</body>

</html>